main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    justify-content: center;
    background-color: #d1cbd7;
    grid-row-gap: 0;
  }
  
  h1,
  h2 {
    font-family: "Oleo Script", cursive;
    justify-self: center;
    background-color: #9e9cc0;
    color: #121621;
    grid-column: 1 / 3;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0 10px;
  }
  #img-div {
    font-size: 12px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  #image {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 500px;
  }
  
  p {
    max-width: 450px;
    color: #2a2829;
  }
  